gitasgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.6
Django==6.0.4
gunicorn==26.0.0
idna==3.11
numpy==2.4.4
packaging==26.2
panda==0.3.1
requests==2.33.0
setuptools==82.0.1
sqlparse==0.5.5
tzdata==2026.1
urllib3==2.6.3
whitenoise==6.12.0
